.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@font-face {
  font-family: 'cf_anarchyregular';
  src: url('../fonts/cfanarchy-regular-webfont.woff2') format('woff2'),
       url('../fonts/cfanarchy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'saira_stencil_oneregular';
  src: url('../fonts/sairastencilone-regular-webfont.woff2') format('woff2'),
       url('../fonts/sairastencilone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}